<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  Personalizando temas
  - Documentação Edools
  
    
  
</title>

  <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '';
  framesUrl = "frames.html#!file.02_customizando_temas.html";
</script>


  <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="js/app.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
  </head>
  <body>
    <nav class="navbar primary-navbar navbar-green">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header small_menu">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://docs.edools.com">
        <img src="/images/logo_edools.png" id="logo" class="img-responsive"/>
      </a>
    </div>

    <!-- <div class="main_menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a title="Funcionalidades" href="api/index.html">API</a>
        </li>
        <li>
          <a title="Planos e preços" href="tms/index.html">Temas</a>
        </li>
      </ul>
    </div> -->

  </div><!-- .container-fluid -->
</nav>

    <section class="doc_container">
      <div class="container">
        <div class="col col-lg-3 col-sm-6 col-md-3">
          <div class="doc_menu js-fix-on-scroll">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div id="main-menu-file-incio"></div>
              <div id="main-menu-file-temas-edools"></div>
              <div id="main-menu-file-personalizando-temas"></div>
              <div id="main-menu-file-conhecendo-o-liquid"></div>
              <div id="main-menu-file-construindo-temas"></div>
              <div id="main-menu-references-tms"></div>
              <div id="main-menu-file-conhecendo-a-api"></div>
              <div id="main-menu-file-bibliotecas-de-api"></div>
              <div id="main-menu-recursos-api"></div>
              <div id="main-menu-objetos-api"></div>
              <div id="main-menu-recursos-do-tema"></div>
            </div>
          </div>
        </div>
        <div class="col col-lg-9 col-sm-12 col-md-9 doc_content">
          <div id="content">
            <div id='filecontents'><h1>Visão geral</h1>

<p>Para fazer qualquer personalização na sua escola online será necessário modificar seu tema. Você pode fazer isso a partir da página de configuração de <code>Temas</code> no menu <code>Aparência</code>.</p>

<p><img src="/images/temas_index-large.png" alt="Alt text" title="Personalização completa"></p>

<p>Basicamente, você pode personalizar um Tema Edools de duas formas:</p>

<ul>
<li>fazendo mudanças na página de personalização de tema (para iniciantes);</li>
<li>editando o código fonte do tema com o Editor HTML/CSS (para designers).</li>
</ul>

<h1>Como os temas funcionam</h1>

<p>Cada Tema Edools é composto por um conjunto de arquivos que controlam todo o layout da sua escola online. Cada arquivo possui a extensão <code>.liquid</code> e é conhecido como um <code>Template Liquid</code> porque contém código escrito na linguagem de templates Liquid.</p>

<p>Além do código Liquid, você pode usar outras linguagens em um arquivo <code>.liguid</code>, incluindo <code>HTML</code>, <code>CSS</code> e <code>JavaScript</code>. <em>Aqui não entraremos em muitos detalhes sobre como o Liquid funciona, caso queira se adiantar, separamos uma <a href="http://docs.edools.com/file.03_conhecendo_o_liquid.html">seção inteira só para isso</a></em>.</p>

<p>Sua escola nasce com um tema publicado, que chamamos carinhosamente de <code>Elegance</code>, e durante todo o tempo você só pode ter um tema publicado por vez.</p>

<p>Antes de começar a personalização de um tema, sempre recomendamos que você duplique o tema em uso com objetivo de manter uma cópia de segurança.</p>

<p>A partir da página de configuração de temas, existem duas maneiras para personalizar seu tema. Você pode:</p>

<ul>
<li>ir para página personalização de tema, ou</li>
<li>ir para o editor HTML/CSS.</li>
</ul>

<h2>Página de personalização</h2>

<p>A página de personalização permite visualizar e alterar as configurações  nativas do seu tema.</p>

<ul>
<li><p>No menu administrativo, clique em <code>Aparência</code> e depois em <code>Temas</code>:
<span class="img-center">
<img src="/images/menu_admin-aparencia.gif" alt="Alt text">
</span></p></li>
<li><p>Clique em <code>Duplicar</code> para salvar uma cópia de segurança da versão atual do seu tema:
<span class="img-center">
<img src="/images/temas_duplicar-tema-medium.png" alt="Alt text">
</span></p></li>
<li><p>Clique em <code>Customizar</code>:
<span class="img-center">
<img src="/images/temas_customizar-tema-medium.png" alt="Alt text">
</span></p></li>
</ul>

<p>Com a página de personalização aberta, você porerá fazer muitas mudanças no layout da sua escola online. A página mostra uma pré-visualização do tema e categorias de configurações que você pode mudar:</p>

<p><span class="img-center">
<img src="/images/temas_tela-personalizar.gif" alt="Alt text">
</span></p>

<h2>Editor HTML/CSS</h2>

<div class="well">
<p>
<strong>Atenção: Você está entrando em território de desenvolvedor!</strong>
</p>
<p>
Nós recomendamos fortemente que busque ajuda caso não tenha familiaridade com desenvolvimento Web.
</p>
</div>

<p>Na página do Editor HTML/CSS você poderá alterar os arquivos <code>.liquid</code> que compõem o seu tema.</p>

<ul>
<li><p>No menu administrativo, clique em <code>Aparência</code> e depois em <code>Temas</code>:
<span class="img-center">
<img src="/images/menu_admin-aparencia.gif" alt="Alt text">
</span></p></li>
<li><p>Clique em <code>Duplicar</code> para salvar uma cópia de segurança da versão atual do seu tema:
<span class="img-center">
<img src="/images/temas_duplicar-tema-medium.png" alt="Alt text">
</span></p></li>
<li><p>Clique em <code>HTML/CSS</code>:
<span class="img-center">
<img src="/images/temas_abrir-editor-medium.png" alt="Alt text">
</span></p></li>
</ul>

<p>Na página do Editor HTML/CSS você poderá editar todos os arquivos do seu tema. A página mostra uma lista de arquivos e um espaço para editá-los:
<span class="img-center">
<img src="/images/temas_tela-editor-html-css.gif" alt="Alt text">
</span></p>

<p>Quando você clica em um arquivo da lista, ele será aberto no painel do editor. Você pode abrir e trabalhar em vários arquivos de uma vez.</p>

<p>Os arquivos do tema podem ser divididos em diferentes categorias e são organizados nas seguintes pastas:</p>

<ul>
<li><strong>Assets</strong>: arquivos de imagens, fontes, scripts e folhas de estilo.</li>
<li><strong>Config</strong>: arquivos que contêm dados de configuração para o seu tema.</li>
<li><strong>Layouts</strong>: arquivos que controlam o layout geral do seu tema.</li>
<li><strong>Locales</strong>: arquivos que contêm arquivos de tradução para o seu tema.</li>
<li><strong>Snippets</strong>:  arquivos que contêm pedaços de código que são usados ​​por outros arquivos do seu tema.</li>
<li><strong>Templates</strong>: arquivos que controlam o layout para partes específicas do seu tema, como páginas de conteúdo ou produtos.</li>
</ul>

<h1>Como fazer backup</h1>

<p>Antes de começar a experimentar algumas personalizações, a primeira coisa que você deve fazer é uma cópia do seu tema atual. Use a cópia duplicada como sua versão de de backup caso precise restaurar o tema.</p>

<p><span class="img-center">
<img src="/images/temas_duplicar-tema-medium.png" alt="Alt text">
</span></p>

<p>Caso algo aconteça de errado, basta publicar o tema duplicado e tudo voltará ao normal.</p>

<h1>Exemplos de implementação</h1>

<p>Para começar a &quot;botar a mão na massa&quot;, é fundamental que você tenha lido os itens anteriores de Personalização de temas.</p>

<p>Nesse tópico, mostraremos funcionalidades que você poderá implementar em qualquer parte do código de sua escola e utilizar com máximo proveito a capacidade de personalização de tema que disponibilizamos para você.</p>

<h2>Como implementar um dropdown?</h2>

<p>O dropdown é a possibilidade do meu botão abrir uma aba, um menu, com outros botões dentro do mesmo. Por exemplo: ao clicar em um botão chamado Tutorials, vai abrir uma aba que nela irá aparecer os subitens do downpdown HTML, CSS, JavaScript e About US, como mostra na imagem abaixo.</p>

<p><span class="img-center">
<img src="/images/dropdown.png" alt="Alt text">
</span></p>

<p><b>Para implementar o dropdown no menu de sua escola, basta seguir o seguinte tutorial:</b> </p>

<p>1- Vá na personalização avançada de sua escola ( Entre como administrador, vá em Aparência &gt; Temas &gt; Código Fonte) OBS: lembre- se que será necessário duplicar o seu tema e é importante salientar que você saiba exatamente em qual local da navbar você quer acrescentar esse link/botão.</p>

<p>2- Procure por Snippets, e dentro de Snippets encontre navbar.liquid (arquivo responsável pelo menu de sua escola).Aproximadamente na linha 18 até o final do seu código, você encontrará o código que foi implementado para fazer o menu de sua escola.</p>

<p>Exemplo:</p>

<pre class="code ruby"><code class="ruby">1- &lt;li class=&quot;dropdown&quot;&gt;
2-     &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle user-options&quot; data-toggle=&quot;dropdown&quot;&gt;
3-             &lt;span class=&quot;logged-user&quot;&gt;{{ current_user | fullname }}&lt;/span&gt;
4-              &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
5-            &lt;/a&gt;
6-
7-            &lt;ul class=&quot;dropdown-menu&quot;&gt;
8-              {% if current_user.type == &#39;Student&#39; %}
9-                &lt;li&gt;
10-                  &lt;a href=&quot;{{ current_user | profile_path }}&quot;&gt;
11-                    &lt;i class=&quot;icon-user&quot;&gt;&lt;/i&gt;
12-                    &lt;span&gt;{{ &quot;navbar.my_profile&quot; | t }}&lt;/span&gt;
13-                  &lt;/a&gt;
14-                &lt;/li&gt;
15-              {% endif %}
16-           &lt;/ul&gt;
17- &lt;/li&gt;
</code></pre>

<p><b>Vamos à explicação deste código:</b> </p>

<p>1-<code>&lt;li class=&quot;dropdown&quot;&gt;</code>  ----&gt; Quando você for colocar o dropdown, copie essa linha exatamente como está escrita, pois ela é responsável pelo início do dropdown.</p>

<p>2-<code>&lt;a href=&quot;#&quot; class=&quot;dropdown-toggle user-options&quot; data-toggle=&quot;dropdown&quot;&gt;</code> ----&gt; Nessa linha se localiza o href (link para onde você será mandado quando clicar. No caso está # pois para funcionar o dropdown, o botão inicial não tem que mandar o usuário para nenhum link, ou seja, isso também deve ser igual no seu código.), o class (responsável pelo nome da classe, no caso você deve colocar:  class =”dropdown-toggle abcd”, onde esse abcd você pode escrever o que quiser, mas para melhor entendimento do código coloque a ação resumida do botão como no exemplo acima user-options) e o data-toggle que deve permanecer igual.</p>

<p>3-<code>&lt;span class=&quot;logged-user&quot;&gt;AQUI FICA O NOME DO LINK/BOTAO&lt;/span&gt;</code>----&gt; Onde está class=”logged-user”, você poderá trocar pelo nome que preferir.</p>

<p>4-<code>&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;</code> ----&gt; Essa classe vem do bootstrap, é uma imagem de uma setinha pra baixo, caso queira referenciar que o link/botão é um dropdown (opcional colocar).</p>

<p>5-<code>&lt;/a&gt;</code> ----&gt; Tag para fechar o href e terminar o primeiro link/botão.</p>

<p><b>Com a estrutura toda montada acima, basta apenas colocar os subitens e para onde eles redirecionarão o usuário no momento em que eles clicarem.</b></p>

<p>6-<code>&lt;ul class=&quot;dropdown-menu&quot;&gt;</code>  ----&gt; Esta linha se refere ao subitem do dropdown, ou seja, deve ser copiada exatamente igual.</p>

<p>7-<code>{% if current_user.type == &#39;Student&#39; %}</code> -----&gt; A condição IF está fazendo a seguinte verificação: SE o usuário é um aluno, ele mostrará o código abaixo (no caso seria o subitem do link/botão) para este usuário. Outro exemplo seria <code>{% if current_user == nil %}</code> , onde caso o usuário esteja deslogado, irá aparecer para ele o subitem. Caso queira outros exemplos de condições, basta olhar nesse local mesmo (navbar.liquid), há vários exemplos.</p>

<p>8-<code>&lt;a href=&quot;{{ current_user | profile_path }}&quot;</code>&gt; -----&gt; Aqui é onde se encontra o caminho que o usuário vai ser levado quando ele clicar no link/botão. Um exemplo para melhor entendimento seria : <code>&lt;a href=&quot;/forums&quot;&gt;</code>, onde levará o aluno para os fóruns do curso.</p>

<p>9-<code>&lt;i class=&quot;icon-user&quot;&gt;&lt;/i&gt;</code> -----&gt; aqui se encontra o ícone que ficará ao lado do link/botão (opcional) caso queira colocar outros ícones, vá em <a href="http://bootstrapmaster.com/live/real-static/icons-simple-line-icons.html">http://bootstrapmaster.com/live/real-static/icons-simple-line-icons.html</a></p>

<p>10-<code>&lt;span&gt;NOME DO SUBITEM&lt;/span&gt;</code> ----&gt; Aqui será onde você colocará o nome do subitem que você desejar.</p>

<p>Caso tenha interesse em aprender mais sobre dropdowns e implementar de diferentes formas, vá neste turotial do bootstrap: <a href="http://getbootstrap.com/components/#dropdowns">http://getbootstrap.com/components/#dropdowns</a></p>

<h1>Precisa de ajuda?</h1>

<p>Comece visitando nossa <a href="http://suporte.edools.com">base de conhecimento</a>.</p>

<p>Depois dê uma conferida nas <a href="http://suporte.edools.com/hc/pt-br/community/topics/200347376-Temas-Edools">discussões na nossa comunidade</a>.</p>

<p>Não encontrou o que procura? Fique a vontade para enviar sua <em>dúvida/dica/sugestão/erro</em> <a href="http://suporte.edools.com/hc/pt-br/community/topics/200347376-Temas-Edools">clicando aqui</a> e depois no botão <strong>+ Nova publicação</strong>.</p>
</div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">


      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->

    </div> <!-- /.row -->

    <div class="row text-right">
      <div class="col-md-12 col-sm-12">
        <div class="companies">
          <h5>Uma empresa:</h5>
          <img src="/images/logo-endeavor-white.png" class="endeavor" alt="Uma empresa Promessa Endeavor" title="Uma empresa Promessa Endeavor">
          <img src="/images/500_startups_white.png" class="strong-500" title="Uma empresa #500Strong">
       </div>
      </div>
    </div>

    <div class="row copyright text-center">
      <div class="col-md-12 col-sm-12">
        <p>©2016 Edools. Todos os direitos reservados.</p>
      </div>
    </div>

  </div>
</section>

  </body>
</html>
