<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  Conhecendo o Liquid
  - Documentação Edools
  
    
  
</title>

  <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '';
  framesUrl = "frames.html#!file.02_conhecendo_o_liquid.html";
</script>


  <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="js/app.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
  </head>
  <body>
    <nav class="navbar primary-navbar navbar-green">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header small_menu">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://docs.edools.com">
        <img src="/images/logo_edools.png" id="logo" class="img-responsive"/>
      </a>
    </div>

    <!-- <div class="main_menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a title="Funcionalidades" href="api/index.html">API</a>
        </li>
        <li>
          <a title="Planos e preços" href="tms/index.html">Temas</a>
        </li>
      </ul>
    </div> -->

  </div><!-- .container-fluid -->
</nav>

    <section class="doc_container">
      <div class="container">
        <div class="col col-lg-3 col-sm-6 col-md-3 doc_menu">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div id="main-menu-file-incio"></div>
            <div id="main-menu-file-personalizando-temas"></div>
            <div id="main-menu-file-conhecendo-o-liquid"></div>
            <div id="main-menu-file-construindo-temas"></div>
            <div id="main-menu-references-tms"></div>
            <div id="main-menu-file-conhecendo-a-api"></div>
            <div id="main-menu-file-bibliotecas-de-api"></div>
            <div id="main-menu-recursos-api"></div>
            <div id="main-menu-objetos-api"></div>
          </div>
        </div>
        <div class="col col-lg-9 col-sm-12 col-md-9 doc_content">
          <div id="content">
            <div id='filecontents'><!-- https://docs.shopify.com/themes/liquid/basics -->

<div class="well">
<p>
<strong>Atenção: Você está entrando em território de desenvolvedor!</strong>
</p>
<p>
Nós recomendamos fortemente que busque ajuda caso não tenha familiaridade com desenvolvimento Web.
</p>
</div>

<h1>Liquid</h1>

<p>Liquid é uma linguagem open-source de templates escrita em Ruby. Através da Liquid, os Temas Edools carregam conteúdo dinâmico no front-end das escolas.</p>

<h1>O básico</h1>

<p>O Liquid usa uma combinação de <strong>tags</strong>, <strong>objetos</strong> e <strong>filtros</strong> para carregar o conteúdo dinâmico. Eles são usados dentro dos arquivos de template, que são um grupo de arquivos que compõe um tema. Para mais informações sobre os templates disponíveis, leia <a href="http://docs.edools.com/file.03_construindo_temas.html">Construindo temas</a>.  </p>

<h2>Tags</h2>

<p>As tags criam a lógica de programação que indica ao template o que fazer.</p>

<pre class="code ruby"><code class="ruby">{% if user.name == ‘elvis’ %}
  Hey Elvis
{% endif %}
</code></pre>

<h2>Objetos</h2>

<p>Os objetos contém os atributos usados para carregar o conteúdo dinâmico em uma página.</p>

<pre class="code ruby"><code class="ruby">{{ product.title }}
&lt;!— Nome do Produto —&gt;
</code></pre>

<h2>Filtros</h2>

<p>Filtros são usados para modificar a saída de <em>strings</em>, números, variáveis e objetos.</p>

<pre class="code ruby"><code class="ruby">{{ ‘sales’ | append: ‘.jpg’ }}
&lt;!— Output: sales.jpg —&gt;
</code></pre>

<h2>Handles</h2>

<p>As <em>handles</em> são usadas para acessar os tributos dos objetos. Por padrão, uma <em>handle</em> é o título em caixa baixa do objeto, com hífen (-) no lugar dos espaços e/ou caracteres especiais. A maioria dos objetos no Edools (<em>products, courses, lessons</em>) possuem <em>handles</em>.</p>

<p>Por exemplo, a página com o título “Sobre a escola” pode ser acessada no Liquid através da handle <code>sobre-a-escola</code>, como mostrado abaixo:</p>

<pre class="code ruby"><code class="ruby">&lt;!— o conteúdo da página Sobre a Escola —&gt;
{{ pages.sobre-a-escola.content }}
</code></pre>

<h3>Como as <em>handles</em> são criadas</h3>

<p>Um produto com o título “Matemática” terá, automaticamente, a <em>handle</em> <code>matematica</code>. Se já existir uma com o mesmo nome, ela será estendido para <code>matematica-1</code>, <code>matematica-2</code> e assim por diante.</p>

<p>Espaços nos títulos são substituídos por hífens nas <em>handles</em>. O título “Este novo curso” se transforma em <code>este-novo-curso</code>.</p>

<p>A handle também determinar a URL do objeto. Por exemplo, a página com a handle <code>sobre-a-escola</code> teria a URL <code>http://suaescola.myedools.com/pages/sobre-a-escola</code>.</p>

<p>Para preservar o design do tema e evitar links quebrados, uma <em>handle</em> não é atualizada automaticamente. Por exemplo, se você deseja alterar o título da página de “Sobre a escola” para “Sobre o Edools”, a <em>handle</em> permanecerá <code>sobre-a-escola</code>.</p>

<h3>Acessando os atributos <em>handle</em></h3>

<p>Em alguns casos, você talvez conheça a handle de um objeto o qual você deseja acessar os atributos. Você pode acessar os atributos plurarizando o nome do objeto, e depois usá-lo com notação de colchetes <code>[]</code> ou ponto <code>.</code>.</p>

<pre class="code ruby"><code class="ruby">{{ pages.sobre-a-escola.title }}
{{ pages[&quot;sobre-a-escola&quot;].title }}
</code></pre>

<pre class="code ruby"><code class="ruby"><span class='const'>Sobre</span> <span class='id identifier rubyid_a'>a</span> <span class='id identifier rubyid_escola'>escola</span>
<span class='const'>Sobre</span> <span class='id identifier rubyid_a'>a</span> <span class='id identifier rubyid_escola'>escola</span>
</code></pre>

<p>Perceba que no exemplo usamos <code>pages</code> e não <code>page</code> como nome do objeto.</p>

<h2>Operadores</h2>

<p>O Liquid tem acesso a todos os operadores lógicos e de comparação. Eles podem ser usados nas tags, como <code>if</code> e <code>unless</code>.</p>

<h3>Operadores básicos</h3>

<table><thead>
<tr>
<th>Operador</th>
<th>Significado</th>
</tr>
</thead><tbody>
<tr>
<td>==</td>
<td>igual</td>
</tr>
<tr>
<td>!=</td>
<td>diferente de</td>
</tr>
<tr>
<td>&gt;</td>
<td>maior que</td>
</tr>
<tr>
<td>&lt;</td>
<td>menor que</td>
</tr>
<tr>
<td>&gt;=</td>
<td>maior ou igual que</td>
</tr>
<tr>
<td>&lt;=</td>
<td>menor ou igual que</td>
</tr>
<tr>
<td>or</td>
<td>condição A ou condição B</td>
</tr>
<tr>
<td>and</td>
<td>condição A e condição B</td>
</tr>
</tbody></table>

<p>Por exemplo:</p>

<pre class="code ruby"><code class="ruby">{% if product.title == “Curso de Matemática” %}
  Esse curso é muito bom!
{% endif %}
</code></pre>

<p>Você pode usar mais de um operador em uma tag:</p>

<pre class="code ruby"><code class="ruby">{% if product.type == “Português” or product.type == “Matemática” %}
  Este curso é de matemática ou de português.
{% endif %}
</code></pre>

<h3>O operador <em>contains</em></h3>

<p><em>Contains</em> verifica a presença de uma <code>substring</code> dentro de um <code>string</code>.</p>

<pre class="code ruby"><code class="ruby">{% if product.title contains “Lançamento” %}
  O título deste produto contém a palavra “Lançamento”.

{% endif %}
</code></pre>

<p><em>Contains</em> também pode verificar a presença de uma string dentro de um conjunto de strings.</p>

<pre class="code ruby"><code class="ruby">{% if product.tags contains “Promoção”%}
    Este produto possui a tag “Promoção”.
{% endif %}
</code></pre>

<p><em>Contains</em> só busca por strings. Você não pode utilizá-lo em um conjunto de objetos.</p>

<h2>Tipos</h2>

<p>Os objetos Liquid possuem seis tipos diferentes. Você pode puxar as variáveis Liquid através das tags, por <a href="http://docs.edools.com/#">atribuição</a> ou <a href="http://docs.edools.com/#">captura</a>.</p>

<h3><em>Strings</em></h3>

<p>As <em>strings</em> são declaradas colocando o valor da variável entre aspas simples ou duplas.</p>

<pre class="code ruby"><code class="ruby">{% assign my_string - “Olá, mundo!” %}
</code></pre>

<h3>Número</h3>

<p>Números incluem inteiros e flutuantes.</p>

<pre class="code ruby"><code class="ruby">{% assign my_int = 33 %}
{% assign my_float = 24.346 %}
</code></pre>

<h3><em>Boolean</em></h3>

<p><em>Booleans</em> são <code>true</code> ou <code>falso</code>. Não são necessárias aspas ao declarar um <em>boolean</em>.</p>

<pre class="code ruby"><code class="ruby">{% assign foo = true %}
{% assign bar = false %}
</code></pre>

<h3>Nil</h3>

<p><em>Nil</em> é retornado quando o código Liquid não tem nenhum resultado. <strong>Não</strong> é uma string com os caracteres “nil”.</p>

<p><em>Nil</em> é tratado como <code>false</code> nas condições <code>if</code> e outras tags Liquid que verificam por <code>true</code> ou <code>false</code>.</p>

<p>No exemplo a seguir, se o <em>ID do produto</em> não existe (ou seja, <code>product.id</code> retorna <code>nil</code>), o Liquid não irá exibir o texto.</p>

<pre class="code ruby"><code class="ruby">{% if product.id %}
  Aqui está o ID do produto.
{% endif %
</code></pre>

<p>Tags ou outputs que retornem <code>nil</code> não exibem nada na página.</p>

<pre class="code ruby"><code class="ruby">ID do Produto: {{ product.id }}
</code></pre>

<pre class="code ruby"><code class="ruby">ID do Produto:
</code></pre>

<h3><em>Array</em></h3>

<p>Arrays armazenam uma lista lista de variáveis de qualquer tipo.</p>

<h4>Acessando itens dentro de um <em>array</em></h4>

<p>Para acessar todos os itens de um <em>array</em>, você pode iterar sobre cada item do <em>array</em> usando uma tag <code>for</code> ou <code>tablerow</code>.</p>

<pre class="code ruby"><code class="ruby">{% for tag in product.tags %}
  {{ tag }}
{% endfor %}
</code></pre>

<pre class="code ruby"><code class="ruby"><span class='id identifier rubyid_lançamento'>lançamento</span> <span class='id identifier rubyid_matemática'>matemática</span> <span class='id identifier rubyid_exatas'>exatas</span> <span class='id identifier rubyid_enem'>enem</span>
</code></pre>

<h4>Acessando itens específicos de um <em>array</em></h4>

<p>Você pode usar colchetes para acessar um item específico do <em>array</em>. O índice do <em>array</em> começa em zero.</p>

<pre class="code ruby"><code class="ruby">&lt;!— if product.tag = “lançamento”, “matemática”, “exatas”, “enem” —&gt;
{{ site.users[0] }}
{{ site.users[1] }}
{{ site.users[3] }}
</code></pre>

<pre class="code ruby"><code class="ruby"><span class='id identifier rubyid_lançamento'>lançamento</span>
<span class='id identifier rubyid_matemática'>matemática</span>
<span class='id identifier rubyid_exatas'>exatas</span>
</code></pre>

<h4>Inicializando <em>arrays</em></h4>

<p>Você não consegue inicializar <em>arrays</em> usando apenas Liquid. Porém, você consegue usar o filtro <a href="http://docs.edools.com/#"><em>split</em></a> para quebrar uma única <em>string</em> em um <em>array</em> de <em>substrings</em>.</p>

<h3><em>EmptyDrop</em></h3>

<p>Um objeto <em>EmptyDrop</em> é retornado se você tentar acessar, através do <em>handle</em>, um objeto excluído (como um página ou um post). No exemplo abaixo, <code>page_1</code>, <code>page_2</code> e <code>page_3</code> são objetos <em>EmptyDrop</em>.</p>

<pre class="code ruby"><code class="ruby">{% assign variable = “hello” %}
{% assign page_1 = pages[variable] %}
{% assign page_2 = pages[“does-not-exist”] %}
{% assign page_3 = pages.this-handle-does-not-exist %}
</code></pre>

<p>Os objetos <code>EmptyDrop</code> possuem apenas um atributo: <code>empty?</code>. Este atributo sempre retorna <code>true</code>.</p>

<h4>Verificando a existência do objeto</h4>

<p>Usando o atributo <code>empty?</code>, você pode verificar se o objeto existe antes de tentar acessar seus atributos.</p>

<pre class="code ruby"><code class="ruby">% unless pages.about.empty? %}
  &lt;!— This will only print if the page with handle “about” is not empty —&gt;
  &lt;h1&gt;{{ pages.frontpage.title }}&lt;/h1&gt;
  &lt;div&gt;{{ pages.frontpage.content }}&lt;/div&gt;
{% endunless %}
</code></pre>

<p>Se você não verificar a existência do objeto primeiro, é possível que o Liquid injete um um elemento HTML vazio na página.</p>

<pre class="code ruby"><code class="ruby">&lt;h1&gt;&lt;/h1&gt;
&lt;div&gt;&lt;/div&gt;
</code></pre>

<h2><em>Truthy</em> and <em>falsy</em></h2>

<p>Quando um dado não-<em>boolean</em> é usado neste contexto (verdadeiro ou falso), o Liquid decide se o defini como <code>true</code> ou <code>false</code>. Os dados que retornam <code>true</code> por padrão, neste contexto, são chamados de <em>truthy</em>. Os dados que retornam <code>false</code> por padrão são chamados de <em>falsy</em>.</p>

<h3><em>Truthy</em></h3>

<p>Todos os valores no Liquid são <em>truthy</em>, exceto <code>nil</code> e <code>false</code>.</p>

<p>No exemplo abaixo, o texto “João” não é um <em>boolean</em>, mas é <em>truthy</em> dentro da condicional.</p>

<pre class="code ruby"><code class="ruby">{% assign name = “João” %}
{% if name == true $}
  Este texto irá aparecer se `name` for definido.
{% endif %}
</code></pre>

<p><em>Strings</em> vazias são <em>truthy</em>. O exemplo abaixo irá criar um tag HTML vazia se <code>settings.fp_heading</code> existe porém é vazio.</p>

<pre class="code ruby"><code class="ruby">{% if page.title %}
&lt;h1&gt;{{ page.title }}&lt;/h1&gt;
{% endif %}
</code></pre>

<pre class="code ruby"><code class="ruby">&lt;h1&gt;&lt;/h1&gt;
</code></pre>

<p>Para evitar que isso aconteça, você deve verificar se a string está vazia, como no exemplo a seguir:</p>

<pre class="code ruby"><code class="ruby">{% unless settings.p_heading == blank %}
  &lt;h1&gt;{{ settings.fp_heading }}&lt;/h1&gt;
{% endunless %}
</code></pre>

<p>Um <em>EmptyDrop</em> também é <em>truthy</em>. No exemplo abaixo, se <code>settings.page</code> é uma <em>string</em> vazia ou é um objeto oculto ou excluído, você vai acabar com um <em>EmptyDrop</em>. O resultado será uma <code>&lt;div&gt;</code> vazia.</p>

<p>Para este <em>input</em>:</p>

<pre class="code ruby"><code class="ruby">{% if pages[settings.page] %}
&lt;div&gt;{{ pages[settings.page].content }} &lt;/div&gt;
{% endif %}
</code></pre>

<p>O output será:</p>

<pre class="code ruby"><code class="ruby">&lt;div&gt;&lt;/div&gt;
</code></pre>

<h3>Falsy</h3>

<p>Os únicos valores que são <em>falsy</em> são o <code>nil</code> e o <code>false</code>.</p>

<p><code>nil</code> é retornado quando um objeto Liquid não possui nada para retornar. Por exemplo, se um curso não possui uma imagem de capa, <code>inserir.codigo</code> retornará <code>nil</code>. Como <code>nil</code> é <em>falsy</em>, você pode fazer o seguinte:</p>

<pre class="code ruby"><code class="ruby">{% if inserir.codigo %}
&lt;!— output capa do curso —&gt;
{% endif %}
</code></pre>

<p>O valor <code>false</code> é retornado através de vários objetos liquid, como o <code>inserir.codigo</code>.</p>

<h1>Tags</h1>

<h2>As tags Liquid</h2>

<p>Chamamos de tags Liquid a lógica de programação que indica ao template o que fazer. Tags são inseridas entre os caracteres <code>{%</code> e <code>%}</code>.</p>

<p>Algumas tags, como <code>for</code> e <code>cycle</code> podem utilizar parâmetros. Os detalhes de cada parâmetro podem ser encontrados em suas respectivas seções.</p>

<h2>Tags de controle de fluxo</h2>

<p>As tags de controle de fluxo  determinam qual bloco de código será executado, de acordo com diferentes condições.</p>

<h3><em>if</em></h3>

<p>Executa um bloco de código se uma determinada condição é atendida.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% if product.title == “Curso de Física!” %}
  Este curso é de física!
{% endif %}
</code></pre>

<p>Output</p>

<pre class="code ruby"><code class="ruby"><span class='const'>Este</span> <span class='id identifier rubyid_curso'>curso</span> <span class='id identifier rubyid_é'>é</span> <span class='id identifier rubyid_de'>de</span> <span class='id identifier rubyid_física!'>física!</span>
</code></pre>

<h3><em>elsif/else</em></h3>

<p>Adiciona mais condições dentro de uma condição <em>if</em> ou <em>unless</em>.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">&lt;!— Se student.name == ‘anônimo’ —&gt;
{% if student.name == ‘Maria’ %}
  Oi, Maria!
{% elsif student.name == ‘anônimo’ %}
  Oi, anônimo!
{% else %}
  Oi, desconhecido!
{% endif %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Oi, anônimo!
</code></pre>

<h3><em>case/when</em></h3>

<p>Cria uma declaração <em>switch</em> para comparar uma variável com diferentes valores.<code>case</code> inicia a declaração <em>switch</em> e <code>when</code> compara os valores.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% assign handle = ‘literatura’ %}
{% case handle %}
  {% when ‘literatura’ %}
     Estamos falando de literatura.
  {% when ‘física’ %}
    Estamos falando de física.
  {% else %}
    Não estamos falando de literatura nem de física.
{% endcase %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Estamos falando de literatura.
</code></pre>

<h3><em>unless</em></h3>

<p>Similar ao <code>if</code>, mas executa um bloco de código se uma certa condição <strong>não</strong> é atendida.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% unless product.title == ‘Curso para INSS’ %}
  Este curso não é para INSS.
{% endunless %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Este curso não é para INSS.
</code></pre>

<p>Isso seria a mesma coisa que fazer o exemplo abaixo:</p>

<pre class="code ruby"><code class="ruby">{% if product.title != ‘Curso para INSS’ %}
  Este curso não é para INSS.
{% endif %}
</code></pre>

<h2>Tags de iteração</h2>

<p>As tags de iteração são usadas para executar um bloco de código repetidamente.</p>

<h3><em>for</em></h3>

<p>Executa um bloco de código repetidamente. Para uma lista completa dos atributos disponíveis dentro de um <code>for</code>, veja <a href="https://docs.edools.com/#"><em>forloop</em> (objeto)</a>.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% for product in collection.products %}
  {{ product.title }}
{% endfor %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='id identifier rubyid_matemática'>matemática</span> <span class='id identifier rubyid_física'>física</span> <span class='id identifier rubyid_química'>química</span>
</code></pre>

<h4><em>break</em></h4>

<p>Faz o <em>loop</em> parar de iterar quando encontra uma tag <em>break</em>.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% for i in (1..5) %}
  {% if i == 4 %}
    {% break %}
  {% else %}
    {{ i }}
  {% endif %}
{% endfor %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">1 2 3
</code></pre>

<h4>continue</h4>

<p>Faz o loop pular a iteração quando encontra a tag <code>continue</code>.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% for i in (1..5) %}
  {% if 1==4 %}
    {% continue %}
  {% else %}
    {{ i }}
  {% endif %}
{% endfor %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">1 2 3 5
</code></pre>

<h4>Parâmetros <em>for</em></h4>

<h5><strong><em>limit</em></strong></h5>

<p>Sai do <em>loop</em> <em>for</em> em um índice específico.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby"> &lt;!— if array = [1,2,3,4,5,6] —&gt;
  {% for item in array limit:2 %}
    {{ item }}
  {% endfor %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">1 2
</code></pre>

<h5><strong><em>offset</em></strong></h5>

<p>Inicia o <em>loop</em> em um índice específico.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">&lt;!— if array = [1,2,3,4,5,6] —&gt;
  {% for item in array offset:2 %}
    {{ item }}
  {% endfor %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">3 4 5 6
</code></pre>

<h5>range</h5>

<p>Define o intervalo de números para executar o <em>loop</em>. O intervalo pode ser definido por números absolutos ou variáveis.</p>

<p>Input</p>

<pre class="code ruby"><code class="ruby">{% assign num = 4 %}
{% for i in (1..num) %}
  {{ i }}
{% endfor %}

{% for i in (3..5) %}
  {{ i }}
{% endfor %}
</code></pre>

<p>Output</p>

<pre class="code ruby"><code class="ruby">1 2 3 4
3 4 5
</code></pre>

<h5><strong><em>reversed</em></strong></h5>

<p>Reverte a ordem do <em>loop for</em>.</p>

<p>Input</p>

<pre class="code ruby"><code class="ruby">&lt;!— if array = [1,2,3,4,5,6] —&gt;
{% for item in array reversed %}
    {{ item }}
{% endfor %}
</code></pre>

<p>Output</p>

<pre class="code ruby"><code class="ruby">6 5 4 3 2 1
</code></pre>

<h3><strong><em>cycle</em></strong></h3>

<p>Executa o <em>loop</em> em um grupo de <em>strings</em> e as exibe na ordem na qual foram passadas como parâmetros. Cada vez que <code>cycle</code> é utilizado, a próxima <em>string</em> que for passada como parâmetro é exibida.</p>

<p><code>cycle</code> deve ser usada dentro do bloco de um <em>loop for</em>.</p>

<p>Input</p>

<pre class="code ruby"><code class="ruby">{% cycle ‘one’, ‘two’, ‘three’ %}
{% cycle ‘one’, ‘two’, ‘three’ %}
{% cycle ‘one’, ‘two’, ‘three’ %}
{% cycle ‘one’, ‘two’, ‘three’ %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='id identifier rubyid_one'>one</span>
<span class='id identifier rubyid_two'>two</span>
<span class='id identifier rubyid_three'>three</span>
<span class='id identifier rubyid_one'>one</span>
</code></pre>

<p>Usos para o <code>cycle</code> incluem:</p>

<ul>
<li>aplicar classes ímpares/pares para as linhas de uma tabela</li>
<li>aplicar uma classe única para o último <em>thumbnail</em> de um produto em uma linha</li>
</ul>

<h4>Parâmetros de <em>cycle</em></h4>

<p><code>cycle</code> aceita um parâmetro chamado <code>cycle group</code> nos casos onde você precisa de vários blocos de <code>cycle</code> em um mesmo template. Se nenhum nome for dado para o <code>cycle group</code>, então assume-se que várias chamadas com os mesmos parâmetros fazem parte do mesmo grupo.</p>

<pre class="code ruby"><code class="ruby">&lt;ul&gt;
{% for product in collections.collection-1.products %}
  &lt;li{% cycle ‘ style=“clear:both;”’, ‘’, ‘’, ‘ class=“last”’ %}&gt;
    &lt;a href=“{{ product.url | within: collection }}”&gt;
      &lt;img src=“{{ product.featured_image.src | product_mg_url: ‘medium’ }}” alt=“{{ product.featured_image.alt }}” /&gt;
    &lt;/a&gt;
  &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
&lt;ul&gt;
{% for product in collections.collection-2.products %}
  &lt;li{% cycle ‘ style=“clear:both;”’, ‘’, ‘’, ‘ class=“last”’ %}&gt;
    &lt;a href=“{{ product.url | within: collection }}”&gt;
      &lt;img src=“{{ product.featured_image.src | product_mg_url: ‘medium’ }}” alt=“{{ product.featured_image.alt }}” /&gt;
    &lt;/a&gt;
  &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>

<p>No código acima, se a primeira coleção tiver apenas dois produtos, o <em>loop</em> da segunda coleção irá continuar o <code>cycle</code> onde o primeiro parou. Isso resultaria nesse resultado indesejado:</p>

<pre class="code ruby"><code class="ruby">&lt;ul&gt;
  &lt;li style=“clear:both”&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
  &lt;li&gt;&lt;/li&gt;
  &lt;li class=“last”&gt;&lt;/li&gt;
  &lt;li style=“clear:both”&gt;&lt;/li&gt;
  &lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<p>Para evitar que isso aconteça, <em>cycle groups</em> são usados para cada bloco de <em>cycle</em>, como mostrado abaixo:</p>

<pre class="code ruby"><code class="ruby">&lt;ul&gt;
{% for product in collections.collection-1.products %}
  &lt;li{% cycle ‘group1’: ‘ style=“clear:both;”’, ‘’, ‘’, ‘ class=“last”’ %}&gt;
    &lt;a href=“{{ product.url | within: collection }}”&gt;
      &lt;img src=“{{ product.featured_image.src | product_mg_url: “medium” }}” alt=“{{ product.featured_image.alt }}” /&gt;
    &lt;/a&gt;
  &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
&lt;ul&gt;
{% for product in collections.collection-2.products %}
  &lt;li{% cycle ‘group2’: ‘ style=“clear:both;”’, ‘’, ‘’, ‘ class=“last”’ %}&gt;
    &lt;a href=“{{ product.url | within: collection }}”&gt;
      &lt;img src=“{{ product.featured_image.src | product_mg_url: “medium” }}” alt=“{{ product.featured_image.alt }}” /&gt;
    &lt;/a&gt;
  &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>

<p>Com o código acima, os dois blocos de <code>cycle</code> são independentes. O resultado é mostrado abaixo:</p>

<pre class="code ruby"><code class="ruby">&lt;ul&gt;
  &lt;li style=“clear:both”&gt;&lt;/li&gt;
  &lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;!— new cycle group starts! —&gt;
&lt;ul&gt;
  &lt;li style=“clear:both”&gt;&lt;/li&gt;
  &lt;li&gt;&lt;/li&gt;
  &lt;li&gt;&lt;/li&gt;
  &lt;li class=“last”&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<h3>tablerow</h3>

<p>Gera um HTML <code>&lt;table&gt;</code>. Deve ser inserido entre uma tag de abertura <code>&lt;table&gt;</code> e uma de fechamento <code>&lt;/table&gt;</code>. Para uma lista complete de atributos disponíveis dentro de um <em>loop</em> <code>tablerow</code>, veja <a href="http://docs.edools.com/#"><em>tablerow</em> (objeto)</a>.</p>

<p>Input</p>

<pre class="code ruby"><code class="ruby">&lt;table&gt;
{% table row product in collection.products %}
  {{ product.title }}
{% endtablerow %}
&lt;/table&gt;
</code></pre>

<p>Output</p>

<pre class="code ruby"><code class="ruby">&lt;table&gt;
    &lt;tr class=“row1”&gt;
        &lt;td class=“col1”&gt;
            Cool Shirt
        &lt;/td&gt;
        &lt;td class=“col2”&gt;
            Alien Poster
        &lt;/td&gt;
        &lt;td class=“col3”&gt;
            Batman Poster
        &lt;/td&gt;
        &lt;td class=“col4”&gt;
            Bullseye Shirt
        &lt;/td&gt;
        &lt;td class=“col5”&gt;
            Another Classic Vinyl
        &lt;/td&gt;
        &lt;td class=“col6”&gt;
            Awesome Jeans
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code></pre>

<h4>Os parâmetros de <em>tablerow</em></h4>

<h5><strong><em>cols</em></strong></h5>

<p>Define quantas colunas terá a tabela.</p>

<p>Input</p>

<pre class="code ruby"><code class="ruby">{% table row product in collection.products cols:2 %}
  {{ product.title }}
{% endtablerow %}
</code></pre>

<p>Output</p>

<pre class="code ruby"><code class="ruby">&lt;table&gt;
    &lt;tr class=“row1”&gt;
        &lt;td class=“col1”&gt;
            Cool Shirt
        &lt;/td&gt;
        &lt;td class=“col2”&gt;
            Alien Poster
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class=“row2”&gt;
        &lt;td class=“col1”&gt;
            Batman Poster
        &lt;/td&gt;
        &lt;td class=“col2”&gt;
            Bullseye Shirt
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class=“row3”&gt;
        &lt;td class=“col1”&gt;
            Another Classic Vinyl
        &lt;/td&gt;
        &lt;td class=“col2”&gt;
            Awesome Jeans
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code></pre>

<h5><strong><em>limit</em></strong></h5>

<p>Finaliza a tabela após atingir um determinado índice.</p>

<pre class="code ruby"><code class="ruby">{% table row product in collection.products cols:2 limit:3 %}
  {{ product.title }}
{% endtablerow %}
</code></pre>

<h5><strong><em>offset</em></strong></h5>

<p>Inicia a tabela após um índice específico.</p>

<pre class="code ruby"><code class="ruby">{% table row product in collection.products cols:2 offset:3 %}
  {{ product.title }}
{% endtablerow %}```
</code></pre>

<h5><strong><em>range</em></strong></h5>

<p>Define o intervalo de números que um <em>loop</em> deve ser executado. O intervalo pode ser definido tanto por números absolutos como variáveis.</p>

<pre class="code ruby"><code class="ruby">&lt;!—variable number example—&gt;

{% assign num = 4 %}
&lt;table&gt;
{% table row i in (1..num) %}
  {{ i }}
{% endtablerow %}
&lt;/table&gt;

&lt;!—literal number example—&gt;

&lt;table&gt;
{% table row i in (3..5) %}
  {{ i }}
{% endtablerow %}
&lt;/table&gt;
</code></pre>

<h2>Tags do tema</h2>

<p>As tags do tema possuem várias funções diferentes, incluindo:</p>

<ul>
<li>Injetar <em>markups</em> HTML específicos de um template;</li>
<li>Indicar ao tema quais layouts e <em>snippets</em> usar</li>
<li>Dividir um <em>array</em> retornado em múltiplas páginas</li>
</ul>

<h3>Comment</h3>

<p>Permite que você não renderize o código dentro de um template Liquid. Qualquer texto antes e depois da tag <code>comment</code> não será exibidas, assim como qualquer código não será executado.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">Meu nome é {% comment %} Forrest {% comment %} Gump.
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Meu nome é Gump.
</code></pre>

<h3>Include</h3>

<p>Insere um <em>snippet</em> de dentro da pasta <em>snippets</em> de um tema.</p>

<pre class="code ruby"><code class="ruby">{% include `snippet-name` %}
</code></pre>

<p>Repare que a extensão <code>.liquid</code> é omitida no código acima.</p>

<p>Quando um <em>snippet</em> é incluído, o código dentro dele terá acesso  às variáveis do seu template pai.</p>

<h4>Incluindo múltiplas variáveis em um snippet</h4>

<p>Há duas maneiras de incluir múltiplas variáveis em <em>snippet</em>. Você pode designá-las e incluí-las em linhas diferentes:</p>

<pre class="code ruby"><code class="ruby">{% assign snippet_variable = ‘this is it’ %}
{% assign snippet_variable_two = ‘this is also it’ %}
{% include ‘snippet’ %}
</code></pre>

<p>Ou você pode consolidar tudo em uma linha de código:</p>

<pre class="code ruby"><code class="ruby">{% include ‘snippet’, snippet_variable: ‘this is it’, snippet_variable_two: ‘this is also it’ %}
</code></pre>

<h4>Os parâmetros <em>include</em></h4>

<h5><strong><em>with</em></strong></h5>

<p>O parâmetro <em>with</em> determina um valor para uma variável dentro de um <em>snippet</em> que possui o mesmo nome do próprio <em>snippet</em>.</p>

<p>Por exemplo, é possível que haja um <em>snippet</em> chamado <strong>color.liquid</strong>, contendo o seguinte código:</p>

<pre class="code ruby"><code class="ruby">color: ‘{{ color }}’
shape: ‘{{ shape }}’
</code></pre>

<p>Dentro de <strong>theme.liquid</strong>, é possível inserir o <em>snippet</em> <strong>color.liquid</strong> da seguinte forma:</p>

<pre class="code ruby"><code class="ruby">% assign shape = ‘circle’ %}
{% include ‘color’ %}
{% include ‘color’ with ‘red’ %}
{% include ‘color’ with ‘blue’ %}
{% assign shape = ‘square’ %}
{% include ‘color’ with ‘red’ %}
</code></pre>

<p>O resultado será:</p>

<pre class="code ruby"><code class="ruby">color: shape: ‘circle’
color: ‘red’ shape: ‘circle’
color: ‘blue’ shape: ‘circle’
color: ‘red’ shape: ‘square’
</code></pre>

<h3>Form</h3>

<p>Cria um elemento HTML <code>&lt;form&gt;</code> com todos os atributos necessários (action, id, etc), assim como <code>&lt;input&gt;</code> para enviar o <em>formulário</em>.</p>

<h4>Os parâmetros <em>form</em></h4>

<div class="well">
<p>
<strong>Inserir parâmetros Edools.</strong>
</p>
</div>

<h3>Paginate</h3>

<p>Dividir produtos e resultados de uma busca em várias páginas é uma parte necessária do tema, por existir uma limitação de 50 resultados por página em um <em>loop for</em>.</p>

<p>A tag <em>paginate</em> trabalha em conjunto com a tag <em>for</em> para dividir o conteúdo em várias páginas. Ela deve conter um bloco da tag <em>for</em> que itera em um <em>array</em>, como mostrado no exemplo abaixo:</p>

<pre class="code ruby"><code class="ruby">{% paginate collection.products by 5 %}
  {% for product in collection.products %}
    &lt;!—show product details here —&gt;
  {% endfor %}
{% endpaginate %}
</code></pre>

<p>O parâmetro <code>by</code> é seguido por um <em>integer</em> entre 1 e 50 que indica à tag <em>paginate</em> quantos resultados ela deve mostrar por página.</p>

<p>Dentro da tag <em>paginate</em>, você pode acessar os atributos do objeto <a href="http://www.edools.com/#"><em>paginate</em></a>. Isso inclui os atributos para exibir os links necessários à navegação das páginas geradas.</p>

<h3>Raw</h3>

<p>Permite que seja exibido um código Liquid na página sem ser parseada.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% raw %}{{ 5 | mais: 6 }}{% endear %} é igual a 11.
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">{{ 5 | mais: 6 }} é igual a 11.
</code></pre>

<h2>Tags variáveis</h2>

<p>As tags variáveis são usadas para criar novas variáveis Liquid.</p>

<h3>Assign</h3>

<p>Cria uma nova variável.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% assign my_variable = false %}
{% if my_variable != true %}
Esta afirmação é válida.
{% endif %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Esta afirmação é válida.
</code></pre>

<p>Use aspas para salvar a variável como uma string.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% assign foo = “bar” %}
{{ foo }}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='id identifier rubyid_bar'>bar</span>
</code></pre>

<h3>Capture</h3>

<p>Captura a string dentro das tags de abertura e fechamento e a determina como variável. Variáveis criadas através de <code>{% capture %}</code> são strings.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% capture my_variable %}Estou sendo capturado.{% end capture %}
{{ my_variable }}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby">Estou sendo capturado.
</code></pre>

<h3>Incremet</h3>

<p>Cria uma nova variável de número e aumenta seu valor a cada vez que é chamada. O valor inicial é 0.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% increment variable %}
{% increment variable %}
{% increment variable %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='int'>0</span>
<span class='int'>1</span>
<span class='int'>2</span>
</code></pre>

<p>Variáveis criadas através da tag <code>increment</code> são independentes das variáveis criadas através das tags <code>assign</code> e <code>capture</code>.</p>

<p>No exemplo abaixo, a variável de nome <code>var</code> é criada através da tag <code>assign</code>. A tag <code>increment</code>, depois, é usada várias vezes com uma variável de mesmo nome. Porém, repare que a tag <code>incremet</code> não afeta o valor da <code>var</code> criada pela tag <code>assign</code>.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">% assign var = 10 %}
{% increment var %}
{% increment var %}
{% increment var %}
{{ var }}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='int'>0</span>
<span class='int'>1</span>
<span class='int'>2</span>
<span class='int'>10</span>
</code></pre>

<h3>Decrement</h3>

<p>Cria uma nova variável de número e decresce seu valor todas as vezes em que é chamada. O valor inicia é -1.</p>

<p>Input:</p>

<pre class="code ruby"><code class="ruby">{% decrement variable %}
{% decrement variable %}
{% decrement variable %}
</code></pre>

<p>Output:</p>

<pre class="code ruby"><code class="ruby"><span class='op'>-</span><span class='int'>1</span>
<span class='op'>-</span><span class='int'>2</span>
<span class='op'>-</span><span class='int'>3</span>
</code></pre>

<p>Assim como <code>increment</code>, variáveis declaradas dentro de <code>decrement</code> são independentes das declaradas através de <code>assign</code> e <code>capture</code>.</p>

<h1>Objetos</h1>

<div class="well">
<p>
<strong>Adicionar conteúdo sobre os objetos.</strong>
</p>
</div>

<h1>Filtros</h1>

<div class="well">
<p>
<strong>Adicionar conteúdo sobre os filtros.</strong>
</p>
</div>

<h1>Precisa de ajuda?</h1>

<p>Comece visitando nossa <a href="http://suporte.edools.com">base de conhecimento</a>.</p>

<p>Depois dê uma conferida nas <a href="http://suporte.edools.com/hc/pt-br/community/topics/200347376-Temas-Edools">discussões na nossa comunidade</a>.</p>

<p>Não encontrou o que procura? Fique a vontade para enviar sua <em>dúvida/dica/sugestão/erro</em> <a href="http://suporte.edools.com/hc/pt-br/community/topics/200347376-Temas-Edools">clicando aqui</a> e depois no botão <strong>+ Nova publicação</strong>.</p>
</div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">


      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->
      <div class="col-md-3 col-sm-3">



      </div> <!-- /.col-md-3  -->

    </div> <!-- /.row -->

    <div class="row text-right">
      <div class="col-md-12 col-sm-12">
        <div class="companies">
          <h5>Uma empresa:</h5>
          <img src="/images/logo-endeavor-white.png" class="endeavor" alt="Uma empresa Promessa Endeavor" title="Uma empresa Promessa Endeavor">
          <img src="/images/500_startups_white.png" class="strong-500" title="Uma empresa #500Strong">
       </div>
      </div>
    </div>

    <div class="row copyright text-center">
      <div class="col-md-12 col-sm-12">
        <p>©2016 Edools. Todos os direitos reservados.</p>
      </div>
    </div>

  </div>
</section>

  </body>
</html>
